h1 {
  color: red;
  font-size: 5em;
  font-weight: normal;
  text-decoration: underline;
  text-transform: uppercase;
  border: 3px solid pink;
}

h2 {
  color: green;
  text-align: center;
  font-family: monospace;
}

div {
  color: blue;
}

p {
  color: white;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

span {
  color: yellow;
  text-decoration: underline;
  font-weight: bold;
}

ul {
  list-style: square;
}

ol {
  list-style: upper-roman;
}

li {
  color: brown;
}
